/* * {
    border: 1px red solid;
} */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(0, 49, 0);
}

#middle-left, #middle-right {
    display: flex;
    justify-content: center;
}

/*Rules aside*/
#rules {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    height: 500px;
    width: 350px;
    position: fixed;
    background-color: rgb(98, 110, 138);
    border: black solid 5px;
    left: 0px;
    display: none;
    padding: 5px;
    text-align: center;
    z-index: 5;
}

#hide-rules {
    position: absolute;
    bottom: 10px;
    display: none;
    left: auto;
}

#show-rules {
    position: absolute;
    bottom: 3px;
    left: 3px;
    z-index: 3;
}

/*Center of the board*/
#gold-display {
    text-align: center;
    font-size: 60px;
    color: rgb(155, 115, 14);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 125px;
    height: 125px;
    border-radius: 50%;;
    border: rgb(155, 115, 14) solid 5px;
    background-image: linear-gradient(to bottom, gold, darkgoldenrod);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px 15px 5px 15px;
    flex-direction: column;
    padding: 0;
}

#shape-match-div {
    opacity: 40%;
}

#middle-div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#opp-played {
    height: 220px;
    width: 160px;
    border: 5px rgb(0, 30, 0) dashed;
    background-color: rgb(0, 59, 0);
}

#your-played {
    height: 220px;
    width: 160px;
    border: 5px rgb(0, 30, 0) dashed;
    background-color: rgb(0, 59, 0);
}

#play-button {
    padding: 10px;
}

#gold-play {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 178px;
}

#opp-score {
    height: 210px;
    width: 175px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#your-score {
    height: 210px;
    width: 175px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1rem;
    text-align: center;
    color: yellow;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#opp-score-number {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

#your-score-number {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 50px;
    text-align: center;
    margin: 0;
}

#winner-message {
    color: white;
    height: 15px;
}

#round-turn {
    color: white;
}

#your-color-bonus, #opp-color-bonus {
    height: 23.6px;
    width: 120px;
    font-size: 12px;
    line-height: 10px;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: flex;
    padding: 1px;
    border: 1px black solid;
    border-radius: 3px;
}

/*Shape divs*/

.circle-div {
    margin: 15px;
    height: 23px;
    width: 23px;
    background-image: url("./assets/images/circle.svg");
    background-position: center;
}
.square-div {
    margin: 15px;
    height: 23px;
    width: 23px;
    background-image: url("./assets/images/square.svg");
    background-position: center;
}
.triangle-div {
    margin: 15px;
    height: 23px;
    width: 23px;
    background-image: url("./assets/images/triangle.svg");
    background-position: center;
}
.pentagon-div {
    margin: 15px;
    height: 23px;
    width: 23px;
    background-image: url("./assets/images/pentagon.svg");
    background-position: center;
}
.octagon-div {
    margin: 15px;
    height: 23px;
    width: 23px;
    background-image: url("./assets/images/octagon.svg");
    background-position: center;
}
.star-div {
    margin: 15px;
    height: 23px;
    width: 23px;
    background-image: url("./assets/images/star.svg");
    background-position: center;
}

#gold-display > div, #gold-display > div > div {
    margin: 0px;
    padding: 0px;
}

/*Cards (element is div)*/
.your-card {
    display: flex;
    height: 210px;
    width: 150px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: solid black 4px;
    border-radius: 15px;
    margin: 20px 10px 20px 10px;
}

.opp-card {
    display: flex;
    height: 210px;
    width: 150px;    
    border-radius: 15px;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    background-image: radial-gradient(black, rgb(194, 104, 2), black, rgb(124, 0, 0), black);
    border: solid black 4px;
    margin: 20px 10px 20px 10px;
}

#your-played .your-card, #opp-played .your-card {
    margin: 0 0 0 0;
}

@media (hover: hover){
    #your-cards .your-card:hover {
        position: relative;
        bottom: 10px;
        cursor: pointer;
        box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.63);
    }
    #rules {
        opacity: 100%;
    }
}


/*Div that holds 5 cards*/
#opp-cards {
    display: flex;
    justify-content: center;
    position: fixed;
    top: 0px;
}

#your-cards {
    display: flex;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}

@media only screen and (max-width: 800px){
    .your-card {
        height: 105px;
        width: 70px;
        margin: 0 1.5px 0 1.5px;
    }
    .opp-card {
        height: 105px;
        width: 70px;
        margin: 0 1.5px 0 1.5px;
    }
    .your-card .circle-div {
        margin: 3px;
        height: 15px;
        width: 15px;
        background-image: url("./assets/images/small-shapes/circlesmall.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .your-card .square-div {
        margin: 3px;
        height: 15px;
        width: 15px;
        background-image: url("./assets/images/small-shapes/squaresmall.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .your-card .triangle-div {
        margin: 3px;
        height: 15px;
        width: 15px;
        background-image: url("./assets/images/small-shapes/trianglesmall.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .your-card .pentagon-div {
        margin: 3px;
        height: 15px;
        width: 15px;
        background-image: url("./assets/images/small-shapes/pentagonsmall.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .your-card .octagon-div {
        margin: 3px;
        height: 15px;
        width: 15px;
        background-image: url("./assets/images/small-shapes/octagonsmall.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    .your-card .star-div {
        margin: 3px;
        height: 15px;
        width: 15px;
        background-image: url("./assets/images/small-shapes/starsmall.svg");
        background-repeat: no-repeat;
        background-position: center;
    }
    #opp-played {
        height: 115px;
        width: 80px;
        border: 5px rgb(0, 30, 0) dashed;
    }
    #your-played {
        height: 115px;
        width: 80px;
        border: 5px rgb(0, 30, 0) dashed;
    }
    #gold-play {
        margin: 15px;
    }
    #gold-display {
        text-align: center;
        font-size: 50px;
        color: rgb(155, 114, 10);
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border: darkgoldenrod solid 2.5px;
        background-color: gold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
    #play-button, #show-rules {
        padding: 3px;
        font-size: 10px;
    }
    #show-rules {
        top: 3px;
        bottom: auto;
        left: auto;
        right: 3px;
        opacity: 70%;
    }
    #opp-score-number {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
    #your-score-number {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 25px;
        text-align: center;
        margin: 0;
    }
    #opp-score {
        height: 105px;
        width: 80px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 8px;
        text-align: center;
        color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #your-score {
        height: 105px;
        width: 80px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        font-size: 8px;
        text-align: center;
        color: yellow;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
    }

    #round-turn {
        color: white;
        font-size: 12px;
        text-align: center;
    }
    #winner-message {
        color: white;
        font-size: 15px;
        text-align: center;
    }
    #rules {
        color: white;
        font-family: Arial, Helvetica, sans-serif;
        height: 500px;
        width: 100%;
        position: fixed;
        background-color: rgb(98, 110, 138);
        border: black solid 5px;
        top: 0px;
        display: none;
        text-align: center;
        z-index: 5;
    }
    #hide-rules {
        position: absolute;
        bottom: 0px;
        display: none;
        left: auto;
    }
    #your-color-bonus, #opp-color-bonus {
        width: 70px;
        height: 20px;
        font-size: 8px;
        line-height: 8px;
        font-family: 'Times New Roman', Times, serif;
        color: black;
    }
    #opp-cards, #your-cards {
        position: absolute;
    }
    #middle-div {
        flex-direction: column;
        width: 240px;
    }
    #middle-left {
        align-self: self-start;
    }
    #middle-right {
        align-self: self-end;
    }
}

@media only screen and (max-height: 650px){
    #gold-play {
        margin: 0;
    }
    #gold-display {
        text-align: center;
        font-size: 20px;
        color: darkgoldenrod;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        width: 50px;
        height: 50px;
        border-radius: 50%;
        border: darkgoldenrod solid 2.5px;
        background-color: gold;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
    }
}